<!DOCTYPE html>
<html>
<head>
    <style>
    h1 {text-align: center; 
        color: #0BECDF;
        font-size: 50px;
        background: -webkit-linear-gradient(#ff0000, #00ff00,#0000FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    body {
        vertical-align: middle;
        background-color: #9C09E5;
        text-align: center;
        margin: auto;
        height: 90%;
    }
    .button {
        background-color: #4CAF50;
        color: white;
        padding: 1px 17px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border:2px solid #000;
    }
    .group {
        zoom: 2.0;
        -moz-transform: scale(2.0);
        margin-bottom: 100px;
    }
    .group label {
        font-size: 22px;
        color:black;
        border:2px solid #000;
    }

    input[type="color"].withborder {
        -webkit-appearance: none;
        width: 180px;
        margin-top: 50px;
        position:relative;
        border:2px solid #000;
    }

    input[type="color"].withborder::-webkit-color-swatch {
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        box-sizing: border-box;
        border:1px solid transparent;
    }
    </style>
</head>

<title>LED Control</title>
<h1> LED Controller</h1>
<body>
    <script src = "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>  
        $(document).ready(function(){
            $("#clrpik").show();
            $("#preset").hide();
            $("#commandstr").hide();

            $('#command').on('change', function() {
              if ( this.value == 'color')
              {
                $("#clrpik").show();
                $("#preset").hide();
                $("#commandstr").hide();
              }
              else if( this.value == 'preset')
              {
                $("#clrpik").hide();
                $("#preset").show();
                $("#commandstr").hide();
              }
              else
              {
                $("#clrpik").hide();
                $("#preset").hide();
                $("#commandstr").show();
              }
            });
        });
    </script>
    <iframe style="display:none" name="hidden-form"></iframe>
    <form action="/command" method="post" target="hidden-form">
        <div class="group">
            <select name="device" id="device">
                <option value="device0">Device 0</option>
                <option value="device1">Device 1</option>
            </select>
            <select name="cmd" id="command">
                <option value="color">Color</option>
                <option value="preset">Preset</option>
                <option value="command">Custom Command</option>
            </select>
            <div style="width:150px; display:inline-block">
                <select style="width:140px;" name="preset" id="preset">
                    <option value="preset0">Preset 0</option>
                    <option value="preset1">Preset 1</option>
                    <option value="preset2">Preset 2</option>
                    <option value="preset3">Preset 3</option>
                </select>
                <input style="width:130px; height: 20px;" type="color" name="color" id="clrpik" value="<% if(locals.req){ __append(req.body.color); } else { __append("#ff0000"); } %>">
                <input style="font-size:20px; width:120px;" type="text" name="commandstr" id = "commandstr">
            </div>
            <button type="submit" class="button">Send</button>
        </div>
    </form>
    
</html>
</body>

</html> 

